%h1
  %i.icon-plane>
  \  Human Footprint

%p
  Please have your emails delivered to
  = email_link
  for human-style correspondence. The remaining space in this file has been intentionally left blank.