%h1
  %i.icon-fire>
  \ World Domination

%p
  Encountering a hardware failure. World domination has been postponed indefinitely.

%p
  - Catalog::PHOTOS.each do |photo| 
    = image_with_exif(photo[0], photo[1])
