/*

Lamenting Robot consists of 4 sections with distinctive styling details.
Each page has a _{name}.css file specifying style changes.
This is the css file for --DATA-- (Date File Archives)

*/

a.data-archive {
  color:#000;
  pointer-events: none;
  cursor: default;
}