/*

Lamenting Robot consists of 4 sections with distinctive styling details.
Each page has a _{name}.css file specifying style changes.
This is the css file for --WODOM-- (World Domination)

*/

a.wodom {
  color:#000;
  pointer-events: none;
  cursor: default;
}