body {
  background-color:#eee;
}

header {
  width:960px;
  margin:50px auto;
  border:1px solid #222;
  padding:20px;
  background-color:#fff;
  box-shadow: 0 0 5px #777;
  border-radius: 5px;
}

article {
  width:920px;
  margin:50px auto;
}

.clear {
  clear:both;
}

img.left {
  float:left;
  margin: 10px 15px 10px 0;
}